<!-- <!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> -->
    
    <h3>CREDITOS</h3>
    <table>
      <tr>
        <td align="left">
          <p><b>Web curso</b>: MiriadaX</p>
          <p><b>Nombre curso</b>: Desarrollo de servicios en la nube <br/> con HTML5, Javascript y node.js</p>
          <p><b>Modulo</b>: 6</p>
          <p><b>Autor ejercio</b>: Jordi Miserachs</p>
        </td>
        <td align="right">
          <img src="/images/minion.jpg" width="70px" height="100px">
        </td>
      </tr>
    </table>
<!--     <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html> -->
